table {
    font-family:Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #020202;
    text-align: left;
    padding: 6px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }