<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilo-->
    <link rel="stylesheet" type="text/css" href="/src/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <title>Mejores lugares de México</title>
</head>
<body>
    <header>
        <!--Aqui va el menu-->
        
    </header>
    <section class="articulos" id="global">
        <h1 id="titulo">Luces en el Líbano</h1>
    <div class="articuloC">
        <br>
        <span class="autor">Programa de las Naciones Unidas para el Desarrollo</span>
        
        <img id="imgg" src="./assets/art30.jpeg" title="cancun" >
        <br><h2 id="subtitulo">1 de cada 7 personas vive sin electricidad</h2>
        <p>Conoce a tres mujeres que iluminan sus vidas en el Líbano.</p>
        
        <br><h2 id="subtitulo">Alissar</h2>
        <span class="biblio">Pasión y grandes sueños</span>
        <p>Son casi las 7 de una fría noche de invierno. Alissar, de diecisiete años, regresa a su casa en Bireh, una pequeña comunidad rural del Líbano. En las manos lleva dos pequeñas bolsas llenas de provisiones.

            Hace apenas tres años, esta escena cotidiana habría sido impensable para chicas como ella.
            
            ¿Qué ha cambiado? Un nuevo sistema de alumbrado público a base de energía solar en la calle principal del pueblo.</p>
            <p>Tímida al principio, Alissar pronto deja asomar su personalidad.

                "Nuestra sociedad se opone a las mujeres", plantea con naturalidad. "En especial en nuestro pueblo, la gente no habla sobre los chicos de la forma que lo hace sobre las chicas”, asegura.
                
                “Sin embargo, no me importa lo que digan de mí, porque sé quién soy".</p>
                <p>A diferencia de algunos de sus hermanos y amigos, los padres de Alissar tienen una actitud más progresista para criar a sus hijas.

                    "Crecimos con la idea de que es mejor para las niñas dejar la escuela y quedarse en casa", dice Iman, la madre de Alissar. "Pero yo no estoy de acuerdo. Mi marido y yo les damos a nuestros hijos la posibilidad de hacer lo que quieran en la vida".
                    
                    Como padres de siete hijas, tienen mucha experiencia.</p>

        <br><h2 id="subtitulo">Asma</h2>
        <span class="biblio">Apuesta al futuro.</span>
        <p>Asma se sienta en un viejo sofá en su pequeño apartamento de un dormitorio en Bekaa, al este del Líbano. Juega a las cartas con Rico, su hijo de 15 años, que vive con ella.

            "Lo jugamos a nuestro modo… creamos nuestras propias reglas", dice riendo.</p>
            <p>Las noches en Bekaa son frías y oscurece temprano. La mayor parte del tiempo se pasa dentro de casa, pero con apagones que duran la mitad del día, las opciones son pocas.</p>
            <p>"Cuando no hay electricidad por la noche, juego a las cartas con Rico", cuenta la mujer.

                Asma es una de las personas más afortunadas en su pueblo. Tiene un pequeño kit fotovoltaico (FV) que proporciona suficiente energía para tres dormitorios y un cargador de teléfono móvil.
                
                Es pequeño, pero hace una gran diferencia.</p>
                <p>Aunque trabaja en la municipalidad, su ingreso apenas alcanza para cubrir los gastos. Y a pesar de estar casada desde hace 10 años, lleva la vida de una madre soltera. Su marido es de Bangladesh, y en el Líbano las relaciones interculturales no son bien vistas, por lo que se vio forzado a abandonar el país.

                    Aunque su vida está rodeada de incertidumbre, Asma tiene esperanza, especialmente en el futuro de Rico.</p>
                    <p>Para Asma, el verano trae consigo una sensación de energía. Le encanta estar activa, y es así como enfrenta los desafíos que le presenta la vida.

                        "Normalmente arreglo las cosas en casa, o trabajo en el jardín. Rico y yo solíamos andar en bicicleta juntos, e incluso jugábamos al fútbol y corríamos casi todos los días".
                        
                        La vida de una madre soltera es difícil en el Líbano, pero la sonrisa de Rico bajo la tenue luz le recuerda por qué vale la pena luchar. Con su última carta, gana el juego. Quizás es señal de un futuro prometedor.</p>

        <br><h2 id="subtitulo">Sahar</h2>
        <span class="biblio">Una abuela muy especial</span>
        <p>Rodeada de montañas, la casa de Sahar se ubica en una de las regiones más pobres del país. En invierno, las temperaturas pueden alcanzar los -10°C (14°F).

            Sin embargo, quien entra en su casa percibe de inmediato el calor de una estufa situada en el centro de la sala.
            
            Sahar no es la típica abuela. Con casi 60 años, es responsable del cuidado de cinco nietos con edades entre los 18 meses y los 11 años. Su hijo Alí y su esposa trabajan en Beirut, y los US$ 500 que gana al mes son la única fuente de ingresos de la familia.</p>
            <p>En árabe, Sahar significa "alba". Todos los días, a las seis de la mañana, Sahar se despierta, prepara el desayuno y alista a los niños para ir a la escuela.
                Sahar también utiliza la estufa para cocinar, su especialidad son los guisos tradicionales libaneses. En la noche, cuando termina de bañar a los niños, ellos corren a la estufa para calentarse.

"Si no hubiera recibido esta estufa, no podría calentar la casa. El costo del combustible y las provisiones ha subido demasiado y ya no podemos pagarlos".
            </p>
            <p>Cuidar a los demás es parte de la naturaleza de Sahar. Su primer trabajo fue como enfermera, pero hoy su precario estado de salud y los reducidos ingresos familiares dificultan la tarea de criar a cinco niños. Pese a que es una pequeña ayuda, la estufa le ha traído cierto alivio: calentar el hogar ya no es una preocupación.

                Ver a los chicos sanos, protegidos del frío y llenos de energía, es lo que la mantiene activa.</p>
        
        <br><h2 id="subtitulo">¿Cómo restablecer los servicios básicos en el Líbano?</h2>
        <p>En el Líbano, el acceso a energía eléctrica no es confiable: diariamente ocurren apagones de hasta 12 horas, y no se garantiza el acceso al agua caliente. La reciente afluencia de refugiados sirios ejerce aún más presión sobre la infraestructura local. El Programa de las Naciones Unidas para el Desarrollo está colaborando con el Gobierno del Líbano con miras a lograr una economía más verde y sostenible, al proporcionar a las comunidades acceso a energía asequible y al fomentar el uso de energías renovables.</p>
        
        <span class="biblio">Fotografía - Dalia Khamissy.</span>
    </div>
    </section>
    <footer id="piePagina">
        <p class="pieImg"><img src="./assets/pnud-white-logo.png"><img class="pieImg" src="./assets/sdg-footer-es.png"></p>
        <hr>
        <div class="pieImg">
        <p>© 2021   Programa de las Naciones Unidas para el Desarrollo</p>
            <section class="iconos">
                <a href="https://facebook.com"><i class="ri-facebook-circle-fill blanco"></i></a>
                <a href="https://instagram.com"><i class="ri-instagram-fill blanco"></i></a>
                <a href="https://youtube.com"><i class="ri-youtube-fill blanco"></i></a>
            </section>
        </div>
    </footer>
</body>
</html>