<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilo-->
    <link rel="stylesheet" type="text/css" href="/src/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <title>Mejores lugares de México</title>
</head>
<body>
    <header>
        <!--Aqui va el menu-->
        
    </header>
    <section class="articulos" id="global">
        <h1 id="titulo">Herramientas para el desarrollo</h1>
    <div class="articuloC">
        <br>
        <span class="autor">Programa de las Naciones Unidas para el Desarrollo</span>
        
        <img id="imgg" src="./assets/art41.png" title="cancun" >
        <p>Una clínica médica rudimentaria que sirve a un barrio pobre superpoblado. Un asentamiento en expansión para familias desplazadas. Un polvoriento centro urbano marcado por años de conflicto.

            Estos probablemente no son los lugares donde esperarías encontrar la tecnología más avanzada o las ideas más inspiradoras. Pero es precisamente allí, y en otros lugares como estos, donde tal innovación puede tener el mayor impacto.</p>
            <p>El ámbito del desarrollo mundial está en transformación. Este entorno cambiante exige un replanteamiento significativo sobre cómo se lleva a cabo el desarrollo. El PNUD, como lo expone en términos generales nuestro nuevo Plan Estratégico, se centra en responder de manera creativa a las necesidades nuevas y emergentes de nuestros Estados Miembros, organismos de las Naciones Unidas y otros aliados. 

                Presentamos a continuación algunas maneras en las que trabajamos para poner la innovación al servicio del desarrollo humano.</p>
         <br>
        <img id="imgg" src="./assets/art42.png" title="cancun" >
        <p>En muchos países, la tecnología de energía renovable está ayudando a las comunidades que nunca estuvieron conectadas a una red eléctrica a dar el salto a un futuro energético más limpio y seguro. Ya sea biogás en Botswana o energía eólica en Uruguay, estamos utilizando tecnología probada con el fin de garantizar una energía sostenible para todos.</p>
        <br>
        <img id="imgg" src="./assets/art43.png" title="cancun" >
        <p>En algunas zonas de Libia donde el conflicto ha destruido la infraestructura básica, todavía brilla el sol y la energía solar es una solución natural a los frecuentes apagones. Se han conectado quince hospitales a paneles que abastecen de electricidad a cada instalación, desde las salas de maternidad hasta el equipamiento en los quirófanos. En el Centro de Salud Renal de Bengasi, la tecnología está salvando vidas al proporcionar energía ininterrumpida a las máquinas de diálisis y otros equipos básicos.</p>
        <br>
        <img id="imgg" src="./assets/art44.png" title="cancun" >
        <p>La misma tecnología que nos permite estar en contacto con nuestros amigos también está llegando al mundo del desarrollo. Las tecnologías móviles se utilizan en todos los rubros, desde la agricultura hasta la salud y la respuesta a las crisis.

            En India, los trabajadores sanitarios están utilizando una aplicación móvil llamada eVIN para hacer un seguimiento de las existencias de vacunas en todo el país. Esta aplicación inteligente y de uso fácil es clave para lograr el ambicioso objetivo del país de inmunizar a 156 millones de mujeres y niños cada año.</p>
            <br>
        <img id="imgg" src="./assets/art45.png" title="cancun" >
        <p>Las tecnologías móviles también se están aprovechando para dar respuesta a desastres naturales y otras emergencias. En Dominica, colaboramos con el Gobierno, Microsoft e Ingenieros Sin Fronteras para desarrollar una aplicación y tableta especialmente diseñadas para la evaluación de desastres.</p>
        <p>Unas 100 mujeres y hombres dominicanos utilizaron el equipo, que les permitió inspeccionar hasta 800 edificios por día tras la devastación del huracán María. "Va a cambiar la forma en que se han hecho las evaluaciones", dice Ugo Blanco, asesor de crisis del PNUD. "Puede utilizarse en cualquier momento y en cualquier lugar".</p>
        <br>
        <img id="imgg" src="./assets/art46.png" title="cancun" >
        <p>La tecnología de drones es una herramienta transformadora para el desarrollo. En las Maldivas, trabajamos con el Gobierno y la compañía china de drones DJI para la planificación y respuesta ante desastres. Al volar drones a través de las islas, creamos mapas de riesgo tridimensionales para mostrar a las autoridades cuáles son las zonas de mayor riesgo y cuáles serían las más seguras en caso de que se produjera un tsunami. A modo de comparación, el mapeo tradicional de 11 islas tomaría casi un año, mientras que un dron mapeó toda una isla en un solo día.</p>

        
        <span class="biblio">© Laura Gil Martinez / IAEA</span>
    </div>
    </section>
    <footer id="piePagina">
        <p class="pieImg"><img src="./assets/pnud-white-logo.png"><img class="pieImg" src="./assets/sdg-footer-es.png"></p>
        <hr>
        <div class="pieImg">
        <p>© 2021   Programa de las Naciones Unidas para el Desarrollo</p>
            <section class="iconos">
                <a href="https://facebook.com"><i class="ri-facebook-circle-fill blanco"></i></a>
                <a href="https://instagram.com"><i class="ri-instagram-fill blanco"></i></a>
                <a href="https://youtube.com"><i class="ri-youtube-fill blanco"></i></a>
            </section>
        </div>
    </footer>
</body>
</html>