<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Estilo-->
    <link rel="stylesheet" type="text/css" href="/src/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <title>Mejores lugares de México</title>
</head>
<body>
    <header>
        <!--Aqui va el menu-->
        
    </header>
    <section class="articulos" id="global">
        <h1 id="titulo">Cinco estrategias para la neutralidad de carbono</h1>
    <div class="articuloC">
        <br>
        <span class="autor">ONU Desarrollo</span>
        
        <img id="imgg" src="./assets/art20.jpeg" title="cancun" >
        <p>Desde la revolución industrial, la tecnología ha impulsado nuestras sociedades de formas hasta entonces nunca vistas. Logramos afrontar algunos de los mayores retos de nuestra era: la producción de comida, la erradicación de enfermedades y la expansión de los sistemas de transporte y comunicación. Pero este modo de desarrollo ha tenido un coste y se ha convertido quizás en la mayor amenaza de nuestra época.</p>
        <p>La combustión de fósiles como el petróleo, el carbón o el gas, que alimentaron la producción, ha liberado toneladas de gases de carbono a la atmósfera. Los océanos y los bosques reabsorben parcialmente las emisiones de gases de efecto invernadero, pero su drástico aumento en los últimos 50 años, junto con la deforestación provocada por una agricultura no sostenible, ha causado un calentamiento global: la temperatura media de la Tierra es un 1°C más alta de lo que era antes de la revolución industrial.</p>
        <p>Este aumento puede no parecer mucho, pero ya hemos comprobado sus efectos drásticos. Los glaciares se están derritiendo y esto produce la subida del nivel del mar, los arrecifes de coral y la biodiversidad marina están desapareciendo por culpa del calentamiento de los océanos y los eventos climáticos extremos son cada vez más frecuentes, lo que pone en peligro la seguridad alimentaria y destruye los hogares de personas, obligándolas a huir.
        </p>
        <section class="container">
            <div class="row">
                <img class="col-12 col-sm-6 col-md-6 col-lg-6"id="" src="./assets/art211.jpeg" title="cancun" ><img class="col-12 col-sm-6 col-md-6 col-lg-6"id="" src="./assets/art212.jpeg" title="cancun" >
            </div>
        </section>
        <p>Los expertos han dado la voz de alarma. Si la tendencia del calentamiento global continúa, la temperatura podría subir entre 3 y 5°C respecto a los niveles preindustriales para 2100. En esas condiciones, mantener vida en la Tierra sería extremadamente complicado, si no imposible. Para evitar este escenario amenazante, 195 países firmaron en 2015 el Acuerdo de París. El acuerdo da claras directrices de acción para reducir las emisiones de carbono, mitigar el riesgo del cambio climático y mantener el aumento de la temperatura global muy por debajo de los 2°C. Los científicos consideran seguro limitar el calentamiento global a 1,5°C.</p>
        <p>Cuatro años después del acuerdo, muy pocos países continúan en la carrera para restringir el calentamiento global en una temperatura segura. Sin embargo, muchos están liderando la formulación de objetivos ambiciosos para frenar el cambio climático.</p>
        
        <br><h2 id="subtitulo">Bhután</h2>
        <p>Las políticas de Bhután están clasificadas como “compatibles” con un mundo por debajo de los 2°C, y el país ya ha conseguido la neutralidad de carbono. Bhután, al ser un país pequeño y menos desarrollado, ha alcanzado cero emisiones de CO2 gracias al programa de reforestación del país.</p>
        <img id="imgg" src="./assets/art22.jpeg" title="cancun" >
        <p>Los bosques absorben en su totalidad las relativas bajas emisiones de gases emitidas por los vehículos y las industrias. En medio de los desafíos planteados por el crecimiento económico del país, el gobierno se compromete a mantener esta neutralidad.</p>
        
        <br><h2 id="subtitulo">Chile</h2>
        <p>El próximo anfitrión de la Conferencia de las Partes (COP) de las Naciones Unidas representa menos del 1% de las emisiones globales de carbono, pero es uno de los países más vulnerables al cambio climático debido a su geografía y clima. El país ha estado dispuesto a tomar medidas por el clima con la esperanza de ser un ejemplo que más países desarrollados puedan seguir.</p>
        <img id="imgg" src="./assets/art23.jpeg" title="cancun" >
        <p>Santiago de Chile cuenta actualmente con un total de 200 autobuses eléctricos, la segunda mayor flota en el mundo en desarrollo después de China. El Gobierno dijo que pretende que el 80% del transporte público sea eléctrico para 2020. En julio de 2019, Chile reveló el desarrollo de un plan de acción sobre el clima que aspira a cerrar las 28 centrales eléctricas de carbón para 2040, y conseguir la neutralidad de carbono para 2050. Dada la gran dependencia del país de una fuente que supone un tercio de las emisiones de efecto invernadero, esto se percibe como un plan increíblemente ambicioso. El Gobierno anunció que ocho centrales eléctricas de carbón se cerrarán en los próximos cinco años.</p>

        <br><h2 id="subtitulo">Costa Rica</h2>
        <p>Costa Rica ha sido un país ejemplar en lo que a protección medioambiental se refiere. Incluyó el derecho a un medioambiente sano para sus ciudadanos en su constitución, una cuarta parte de su territorio está protegido y es el único país del Trópico que ha reducido la deforestación.</p>
        <img id="imgg" src="./assets/art24.jpeg" title="cancun" >
        <p>Este año, el Gobierno de Costa Rica lanzó un plan renovado de eliminación de los combustibles fósiles para 2050. Algunas de las iniciativas son: que el 25% de los coches privados y el 70% del transporte público sea eléctrico en 2035 y conseguir el 100% de vehículos de emisión cero para 2050.</p>
        <p>Mientras que estos son un buen ejemplo a seguir para otros países, más países desarrollados necesitan actuar. El Acuerdo de París responsabiliza a los países más ricos para reducir sus emisiones y apoyar a los países más pobres.</p>

        <br><h2 id="subtitulo">Noruega</h2>
        <p>Desde hace muchos años, Noruega ha marcado el ritmo hacia la neutralidad en carbono. Su objetivo es reducir las emisiones de carbono en un 40% y conseguir la neutralidad en carbono para 2030. A diferencia de Chile, Noruega no tiene que cerrar ninguna central eléctrica, ya que la mayor parte de su electricidad es renovable. En 2017, casi el 96% de la electricidad fue generada por centrales hidroeléctricas y alrededor de un 2% por parques eólicos. El país hizo la transición hacia la energía limpia gracias al impuesto sobre el carbono, que permitió financiar fuentes alternativas.</p>
        <img id="imgg" src="./assets/art25.jpeg" title="cancun" >
        <p>La mayor contribución de Noruega es el transporte y la explotación petrolera. Además, también es líder en la proporción de los vehículos eléctricos: en 2018, de cada dos vehículos que se vendían en Noruega, uno era eléctrico. Sin embargo, el total todavía solo supone un 7,9% de todos los coches. Para neutralizar las emisiones de CO2 generadas por el transporte, el país nórdico confía en los árboles. Está aumentando la extensión de sus bosques y contribuyendo en programas para reducir la deforestación en otras regiones.</p>
            
        <br><h2 id="subtitulo">Merruecos</h2>
        <p>arruecos es uno de los dos únicos países en los que el Rastreador de Acción Climática (Climate Action Tracker) otorga la calificación más alta en el ranking de Compatibilidad con el Acuerdo de París 1.5C.</p>
        <p>Pero aunque el país del norte de África está en camino de mantener el calentamiento global a 1.5 ° C, quiere ir aún más lejos, deteniendo el crecimiento de las emisiones de gases de efecto invernadero. Necesitará mayores fondos internacionales para seguir adelante con sus ambiciosos planes para aumentar la producción de energía renovable. Lograr el Acuerdo de París requiere la eliminación gradual de la generación de carbón para 2050 a más tardar.</p>
        <p>Muchos países todavía tienen mucho por hacer. El PNUD proporciona apoyo de largo plazo para perseguir un desarrollo sostenible sin emisiones de carbono, con un portfolio que abarca 280 proyectos y programas en 110 países. Nuestras estrategias incluyen acceso a una energía asequible y no contaminante, financiación del carbono, transporte e infraestructuras sostenibles, tecnologías alternativas respetuosas con el clima y silvicultura sostenible. Sin embargo, todavía se necesitan políticas concretas a nivel nacional para conseguir los objetivos del Acuerdo de París.</p>
        <p>António Guterres, anticipándose a la Cumbre de las Naciones Unidas del 23 de septiembre en Nueva York, ha invitado a cada jefe de Estado a presentar propuestas concretas para acelerar la reducción de carbono. El Secretario General de las Naciones Unidas ha instado a los países a incrementar su acción por el clima para conseguir un mundo sostenible, sin dejar a nadie atrás.</p>
        
        <span class="biblio">Investigación y texto: Daniela Peris, pasante del PNUD en Nueva York. Edición de fotos de Rico Cruz, pasante de Fotografía en el PNUD en Nueva York.</span>
    </div>
    </section>
    <footer id="piePagina">
        <p class="pieImg"><img src="./assets/pnud-white-logo.png"><img class="pieImg" src="./assets/sdg-footer-es.png"></p>
        <hr>
        <div class="pieImg">
        <p>© 2021   Programa de las Naciones Unidas para el Desarrollo</p>
            <section class="iconos">
                <a href="https://facebook.com"><i class="ri-facebook-circle-fill blanco"></i></a>
                <a href="https://instagram.com"><i class="ri-instagram-fill blanco"></i></a>
                <a href="https://youtube.com"><i class="ri-youtube-fill blanco"></i></a>
            </section>
        </div>
    </footer>
</body>
</html>